* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box ;
    list-style-type: none;
}

:root {
    --corner: 5px;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 6fr;
  }

  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

header {
    grid-column: 2/3;
    padding: 20px;
    display: grid;
}


/* try grid
/* .upper { */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
/* } */

#search {
    border: 1px solid black;
    border-radius: 18px;
    padding: 5px;
    /* margin-left: 1.3%; */
}

#search-btn {
    width: 24px;
    height: 24px;
    /* padding-top: 15px; */
    /* position: absolute;
    top: 20px; */
}

#sidebar {
    background-color: rgb(121, 154, 185);
    color: whitesmoke;
    font-size: 1.5rem;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20% auto 60% auto;
}

main {
    background-color: grey;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 15px;
    padding-top: 20px;
}

main > p {
    margin-left: 25px;
}

article {
    grid-row-start: 2;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
}

article > div {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: var(--corner);
    padding: 20px;
}

#trending > div {
    height: 400px;
    width: 220px;
    background-color: white;
    border-radius: var(--corner);
    padding: 20px;
}